* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: linear-gradient(-180deg, #633EA5 0%, #38235C 100%);
  background-attachment: fixed;
  min-height: 100%;
  font-family: ProximaNova-Regular;
}

.rakhi-hero {
  height: 160px;
  background: url(images/rakhi-string.png) no-repeat;
  background-position: center center;
  background-size: 632px 140px;
  position: relative;
  margin: 20px 0;
}

.rakhi-hero--head {
  position: absolute;
  left: calc(50% - 74px);
  top: calc(50% - 76px);
  background: url(images/rakhi-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 148px;
  height: 152px;
}

.rakhi-hero--head:before {
  content: '';
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  background: url(images/rakhi-hero-front.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 93px;
  height: 94px;
  z-index: 1;
}

.rakhi-hero--head:after {
  content: '';
  position: absolute;
  left: calc(50% - 62px);
  top: calc(50% - 62px);
  background: url(images/rakhi-hero-rotating.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 124px;
  height: 124px;

  animation: rotate 60s linear infinite forwards;
}

@keyframes rotate {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}

.rakhis-container {
  background: white;
  margin: 16px;
  border-radius: 3px;
}

.rakhis {
  list-style-type: none;
  padding: 16px 16px 0 16px;
  font-size: 0;
}

.rakhi {
  display: inline-block;
  height: calc(100vw / 2 - 40px);
  width: calc(100vw / 2 - 40px);
  margin-bottom: 16px;
}

.rakhi:nth-of-type(2n+1) {
  margin-right: 16px;
}

.rakhi-link {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.rakhi:nth-of-type(1) .rakhi-link { background-image: url(images/rakhis/1.svg); }
.rakhi:nth-of-type(2) .rakhi-link { background-image: url(images/rakhis/2.svg); }
.rakhi:nth-of-type(3) .rakhi-link { background-image: url(images/rakhis/3.svg); }
.rakhi:nth-of-type(4) .rakhi-link { background-image: url(images/rakhis/4.svg); }
.rakhi:nth-of-type(5) .rakhi-link { background-image: url(images/rakhis/5.svg); }
.rakhi:nth-of-type(6) .rakhi-link { background-image: url(images/rakhis/6.svg); }
.rakhi:nth-of-type(7) .rakhi-link { background-image: url(images/rakhis/7.svg); }
.rakhi:nth-of-type(8) .rakhi-link { background-image: url(images/rakhis/8.svg); }
.rakhi:nth-of-type(9) .rakhi-link { background-image: url(images/rakhis/9.svg); }
.rakhi:nth-of-type(10) .rakhi-link { background-image: url(images/rakhis/10.svg); }
.rakhi:nth-of-type(11) .rakhi-link { background-image: url(images/rakhis/11.svg); }

h2 {
  font-family: ProximaNova-Semibold;
  text-align: center;
  font-size: 20px;
  color: #000000;
  padding-top: 25px;
}

p {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 0 16px;
}

h4 {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-top: 30px;
  text-align: center;
}


.rakhis-container--selected {
  margin-top: 100px;
  position: relative;
}

.rakhis-container--selected h2 {
  padding-top: 50px;
  font-size: 18px;
}

.selected-rakhi {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/rakhis/2.svg);
  position: absolute;
  top: -60px;
  left: calc(50% - 45px);
}

.selected-rakhi:before {
  content: '';
  position: absolute;
  left: -17px;
  top: -17px;
  height: 124px;
  width: 124px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/rakhi-bg.png);
  z-index: -1;
}

.submit-btn {
  height: 48px;
  display: block;
  background: #FFBE00;
  line-height: 48px;
  text-align: center;
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0 0 3px 3px;
}

.rakhi-info input, textarea {
  display: block;
  width: calc(100% - 32px);
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  font-size: 14px;
  margin: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
}

textarea {
  height: 96px;
  line-height: 1.4;
}